.app{
  text-align: center;
}
.registration-form {
  max-width: 400px;
  margin: 0 auto;
}
.radio-button-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin: 15px;
  color: #007bff;
  
}

.http-status-message {
  text-align: center;
  margin-top: 50px;
}

label {
  margin-bottom: 10px;
}

input {
  margin-right: 5px;
}

.styleicon{
  color: #007bff;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

input {
  margin-left: 10px;
  padding: 8px;
  width: 100%;
}

.gender-radio {
  display: flex;
  margin-bottom: 15px;
  color: #007bff;
  justify-content: space-around;
}


button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
